.wave-background {
  position: absolute;
  inset: 0; /* top:0; right:0; bottom:0; left:0 */
  overflow: hidden;
  z-index: 0;
  pointer-events: none; /* para no interferir con clicks */
}

.wave {
  position: absolute;
  width: 540px;
  height: 700px;
  border-radius: 40%;
  opacity: 0.15;
  background: linear-gradient(744deg, #55a0fb, #04eaff 60%, #060afd);
  top: -70%;
  left: 50%;
  margin-left: -270px; /* centrar horizontal */
  animation: wave 55s linear infinite;
}

.wave1 {
  animation-duration: 20s;
  opacity: 0.15;
}

.wave2 {
  top: 210px;
  animation-duration: 20s;
  opacity: 0.12;
}

.wave3 {
  top: 210px;
  animation-duration: 25s;
  opacity: 0.1;
}

@keyframes wave {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
