.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 30px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.search-form {
  display: flex;
  align-items: center;
  padding-inline: 0.8em;
  background: white;
  border: 2px solid #5c059b;
  border-radius: 9999px;
  height: 40px;
}

.search-form input {
  border: none;
  outline: none;
  padding: 0 8px;
  background: transparent;
  width: 120px;
}

.search-form button {
  background: none;
  border: none;
  color: #5c059b;
}

.nav-link {
  color: black;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #5c059b;
}

.link-icon {
  font-size: 20px;
  transition: transform 0.3s ease;
}

.pop-hover:hover .link-icon {
  animation: pulse 0.5s infinite alternate;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.25);
  }
}
